<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduation.mapper.FocusRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.graduation.entity.FocusRecord">
        <id column="focus_record_id" property="focusRecordId" />
        <result column="campus_user_id" property="campusUserId" />
        <result column="task_focus_id" property="taskFocusId" />
        <result column="focus_start_timestamp" property="focusStartTimestamp" />
        <result column="focus_end_timestamp" property="focusEndTimestamp" />
        <result column="focus_duration_seconds" property="focusDurationSeconds" />
        <result column="focus_type_enum" property="focusTypeEnum" />
        <result column="focus_status_enum" property="focusStatusEnum" />
        <result column="focus_interruption_count" property="focusInterruptionCount" />
        <result column="focus_pause_count" property="focusPauseCount" />
        <result column="focus_note_text" property="focusNoteText" />
        <result column="focus_app_block_flag" property="focusAppBlockFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        focus_record_id, campus_user_id, task_focus_id, focus_start_timestamp, focus_end_timestamp, focus_duration_seconds, focus_type_enum, focus_status_enum, focus_interruption_count, focus_pause_count, focus_note_text, focus_app_block_flag
    </sql>

</mapper>
