<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduation.mapper.NotificationCenterMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.graduation.entity.NotificationCenter">
        <id column="notification_id" property="notificationId" />
        <result column="campus_user_id" property="campusUserId" />
        <result column="notification_type_enum" property="notificationTypeEnum" />
        <result column="notification_title_text" property="notificationTitleText" />
        <result column="notification_content_text" property="notificationContentText" />
        <result column="notification_is_read_flag" property="notificationIsReadFlag" />
        <result column="notification_create_timestamp" property="notificationCreateTimestamp" />
        <result column="notification_expire_timestamp" property="notificationExpireTimestamp" />
        <result column="notification_action_url" property="notificationActionUrl" />
        <result column="notification_priority_code" property="notificationPriorityCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        notification_id, campus_user_id, notification_type_enum, notification_title_text, notification_content_text, notification_is_read_flag, notification_create_timestamp, notification_expire_timestamp, notification_action_url, notification_priority_code
    </sql>

</mapper>
