<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduation.mapper.TaskFocusMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.graduation.entity.TaskFocus">
        <id column="task_focus_id" property="taskFocusId" />
        <result column="campus_user_id" property="campusUserId" />
        <result column="task_title_text" property="taskTitleText" />
        <result column="task_description_text" property="taskDescriptionText" />
        <result column="task_deadline_timestamp" property="taskDeadlineTimestamp" />
        <result column="task_status_enum" property="taskStatusEnum" />
        <result column="task_create_timestamp" property="taskCreateTimestamp" />
        <result column="task_priority_code" property="taskPriorityCode" />
        <result column="task_reminder_timestamp" property="taskReminderTimestamp" />
        <result column="task_category_code" property="taskCategoryCode" />
        <result column="task_focus_duration_mins" property="taskFocusDurationMins" />
        <result column="task_break_duration_mins" property="taskBreakDurationMins" />
        <result column="task_app_block_flag" property="taskAppBlockFlag" />
        <result column="task_actual_minutes" property="taskActualMinutes" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        task_focus_id, campus_user_id, task_title_text, task_description_text, task_deadline_timestamp, task_status_enum, task_create_timestamp, task_priority_code, task_reminder_timestamp, task_category_code, task_focus_duration_mins, task_break_duration_mins, task_app_block_flag, task_actual_minutes
    </sql>

</mapper>
