<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduation.mapper.TransactionLogsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.graduation.entity.TransactionLogs">
        <id column="id" property="id" />
        <result column="inventory_id" property="inventoryId" />
        <result column="user_id" property="userId" />
        <result column="type" property="type" />
        <result column="quantity_change" property="quantityChange" />
        <result column="quantity_after_transaction" property="quantityAfterTransaction" />
        <result column="notes" property="notes" />
        <result column="created_at" property="createdAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, inventory_id, user_id, type, quantity_change, quantity_after_transaction, notes, created_at
    </sql>

</mapper>
