<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduation.mapper.UserAchieveRelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.graduation.entity.UserAchieveRel">
        <id column="user_achieve_id" property="userAchieveId" />
        <result column="campus_user_id" property="campusUserId" />
        <result column="achievement_id" property="achievementId" />
        <result column="achieve_timestamp" property="achieveTimestamp" />
        <result column="achieve_condition_text" property="achieveConditionText" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_achieve_id, campus_user_id, achievement_id, achieve_timestamp, achieve_condition_text
    </sql>

</mapper>
